    @import 'normalize';
    @import 'transitions';
    @import 'idangerous';
    @import 'spectrum';
    @import 'svgs';
    @import 'jquery-ui';
//@import 'jquerykeypad';

@font-face {
    font-family: 'FrutigerLTPro-Roman';
    src: url('fonts/Linotype - FrutigerLTPro-Roman.eot');
    src: local('☺'), url('fonts/Linotype - FrutigerLTPro-Roman.woff') format('woff'), url('fonts/Linotype - FrutigerLTPro-Roman.ttf') format('truetype'), url('fonts/Linotype - FrutigerLTPro-Roman.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
@font-face {
    font-family: 'FrutigerLTPro-Bold';
    src: url('fonts/Linotype - FrutigerLTPro-Bold.eot');
    src: local('☺'), url('fonts/Linotype - FrutigerLTPro-Bold.woff') format('woff'), url('fonts/Linotype - FrutigerLTPro-Bold.ttf') format('truetype'), url('fonts/Linotype - FrutigerLTPro-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'FrutigerLTPro-Roman';
        src: local('☺'), url('fonts/Linotype - FrutigerLTPro-Roman.woff') format('woff'), url('fonts/Linotype - FrutigerLTPro-Roman.ttf') format('truetype'), url('fonts/Linotype - FrutigerLTPro-Roman.svg') format('svg');
    }
    @font-face {
        font-family: 'FrutigerLTPro-Bold';
        src: local('☺'), url('fonts/Linotype - FrutigerLTPro-Bold.woff') format('woff'), url('fonts/Linotype - FrutigerLTPro-Bold.ttf') format('truetype'), url('fonts/Linotype - FrutigerLTPro-Bold.svg') format('svg');
    }
}




*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@panelcolor: rgb(255, 254, 230);

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea,.ui-widget {
    color: #222;
    font-family:'FrutigerLTPro-Roman', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    text-shadow: rgba(0,0,0,.01) 0 0 1px;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    background-color:#222;
    font-size: 1em;
    line-height: 1.4em;
}
a:focus{
    outline:none;
}
/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ebebeb;
    border-color: rgba(255,255,255,.5);
    margin: 1em auto;
    max-width: 940px;
    padding: 0;
}
#thankyou-content hr{
    margin: 36px auto 40px;
}
audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    outline:none;
}

textarea {
    resize: vertical;
}
/* ==========================================================================
   custom styles
   ========================================================================== */

html{
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
}

body {
    background-color: #333;
    color: #fff;
    height: 100%;
    width: 100%;
    margin: 0px;
    text-align: center;
    -webkit-font-smoothing: antialiased;

}
.filler {
    position: fixed;
    width:100%;
    height:100%;
    background-color: #FFF;
}
#mfPreviewBarShow, #mfPreviewBar {
    display:none!important;
}
.fbstatus {
    position:fixed;
    top:0;
    left:20px;
    z-index: 1000;
}
a {
    text-decoration: none;
    font-weight: normal;
    color: #fff;
    font-size:30px;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
}
button{
    text-decoration: none;
    font-weight: normal;
    color: #fff;
    background:none;
    border:none;
    outline:none;
    margin:0px;
    padding:0px;
    line-height: 1.2em;
    font-size:1.4em;
    //font-family: 'FrutigerLTPro-Roman';
    -webkit-font-smoothing: antialiased;
}
.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;        
}
a:hover {

}
#main-nav-wrapper{
    padding: 50px 0px;
    background: #444;
}
.lcd{
    overflow:hidden;
 //  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAHElEQVQIW2NkwAEYiZH4D1QEV0iUDhRTcen4DwBbngIGjZtokwAAAABJRU5ErkJggg==) repeat;
   color:@panelcolor;
}
.cpholder {
    position:absolute;
    // clear:none;
    z-index:1000;
    top:0px;
    left:0px;
    display:none;
}
.cpholder.on{
    display:block;
}
#app-control, .apphome{
    position: relative;
    margin:0px auto;   
}
#appliance-control{
    position:fixed;
    width:100%;
    height:100%;
    overflow: hidden;
    background: #FFF;
}
.appliancehome,.applianceillum {
    position:absolute;
    top:0px;
    // right:10%;
    left:0px;
    width:100%;
    height:100%;
    overflow: visible;
    -webkit-transition: all 0ms ease;
    -moz-transition: all 0ms ease;
    -o-transition: all 0ms ease;
    -ms-transition: all 0ms ease;
    transition: all 0ms ease;
    opacity:0;
}
.applianceillum {
    -webkit-transition: all 1000ms ease;
    -moz-transition: all 1000ms ease;
    -o-transition: all 1000ms ease;
    -ms-transition: all 1000ms ease;
    transition: all 1000ms ease;
}
.controlpanel{
    position: absolute;
    top: 205px;
    left: 925px;
    margin-right: 0px;
    opacity: 1;
    width: 214px;
    z-index: 1000;
    height: 624px;
}
.controlpanel {
    width:400px;
}
.appliancehome{
    z-index: 0;
    opacity:1;
    background: transparent url(/img/appliance_off.png) top left no-repeat;
    // background-size: 90%;
}
.applianceillum{
    z-index: 1;
    background: transparent url(/img/appliance_on.png) top left no-repeat;
    // background-size: 90%;
}
#appliance-control.solo-panel .applianceillum, #appliance-control.solo-panel .appliancehome {
    background:#000;
}
#appliance-control.solo-panel .controlpanel {
    top:0px;
    left:0px;
    height:auto;
} 
#appliance-control.solo-panel .controlpanel{
    // transform: perspective(1px) scale(1.869,1.869) !important;
}
#appliance-control.solo-panel .ovenpanel .ovenoptions.swiper-container{
    margin:0px;
}

.applianceillum.on {
   opacity:1; 
}
#app-control {
    position: relative;
    height: 100%;
    width: 100%;
}
.disabledprompt, .remoteprompt {
    position: fixed;
    top: 0px;
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 1000;
}
.disabledprompt.on, .remoteprompt.on {
    display: block;
    opacity: 1;
}
.apptop {
    height:500px;
    overflow: visible;
    position: relative;
    background: #fff url(/img/logohome_bg.jpg) top center no-repeat;
    background-size: cover;
}
.apptop .monogram {
    margin-top:75px;
    height:298px;
}
.apphome {
    // background: #FFF url(/img/logohome_bg.jpg) top center no-repeat;
    // background-size:100% auto;
    // width:100%;
    // margin:0px auto;
    // position: relative;
    // height: 100%;

   width: 100%;
   margin: 0 auto;
   position: relative;
   height: 100%;

}
.apphome .logo{
    position: relative;
    height: 100%;
    overflow: auto;
    // height:50%;
    // width:100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // border-bottom:#7f7f7f solid 2px;
    // flex-grow:1;

}
.logo, .logo.status .holder {
    position: relative;
    margin:0px 62px;
}
.logo.status .holder {
    height: 534px;
    padding: 70px 0px 0px;
}

    .holder .cooktitle{
        position: absolute;
        top: 212px;
        left: 0px;
        width: 100%;
        color: #69747F;
        text-transform: uppercase;
        font-size: 37px;
    }
.logo.status {
    margin:0px;
}
.apphome .logo.status {
    // background: #30343a;
    // background: -moz-linear-gradient(top,  #30343a 0%, #7c6660 100%);
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#30343a), color-stop(100%,#7c6660));
    // background: -webkit-linear-gradient(top,  #30343a 0%,#7c6660 100%);
    // background: -o-linear-gradient(top,  #30343a 0%,#7c6660 100%);
    // background: -ms-linear-gradient(top,  #30343a 0%,#7c6660 100%);
    // background: linear-gradient(to bottom,  #30343a 0%,#7c6660 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30343a', endColorstr='#7c6660',GradientType=0 );
    background: #30343a;
    background: -moz-linear-gradient(top,  #30343a 46%, #846b64 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(46%,#30343a), color-stop(100%,#846b64));
    background: -webkit-linear-gradient(top,  #30343a 46%,#846b64 100%);
    background: -o-linear-gradient(top,  #30343a 46%,#846b64 100%);
    background: -ms-linear-gradient(top,  #30343a 46%,#846b64 100%);
    background: linear-gradient(to bottom,  #30343a 46%,#846b64 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30343a', endColorstr='#846b64',GradientType=0 );

}
.logo.status .cooktimer {
    top:320px;
    position: absolute;
    width:100%;
    font-size: 141px;
}
// .logo.status .cookstatus {
//     position:absolute;
//     bottom:30px;

//     font-size:40px;
//     width:100%
// }
.logo a {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-position: center 40px;
    background-size: 600px auto;
    overflow: hidden;
}
.apphome .logo img {
    display:block;
    max-width: 500px;
    width:90%;
    margin:auto;
    padding:40px;

}
.advantium{
    height:33px;
    margin:0px auto;
    text-align: center;
}   
.buttons {
    background: #FFF;
    background-size:cover;
    padding:40px;
    display:block;
    margin:0px auto;
    text-align: center;
    // flex:flex-grow;
    // flex-grow:2;
    // align-self:stretch;
}
.app .buttons{
    padding:0px;
    min-height:50%;
    vertical-align: middle;
    margin: 0px auto;
}
.app .buttons div {
    padding:34px 62px 0px;
}
.myrecipes.stepone .buttons div,.app.speedcook.stepone .buttons div {
    padding-top:0px;
}
.app .buttons a, .app.myrecipes.stepone .buttons a{
    text-align: left;
    text-transform: uppercase;
    font-size: 46px;
    border-bottom: #B4BCC0 solid 1px;
    display:block;
    color:#575E66;
    font-family: 'FrutigerLTPro-Roman';
    padding:50px 0px 40px;
    margin:0px;
}
.app .buttons a.disabled {
    opacity: .5;
    pointer-events: none;
    cursor: default;
}
.app .buttons a.cancel {
    color:#E11C24;
}
.app.myrecipes.saved .buttons div {
    padding:0px;
}
.app.myrecipes .buttons a, .app.speedcook.steptwo .buttons a {
    padding:0px;
    overflow:auto;
}
.app.myrecipes .buttons a p{
    margin-top:55px;
}
.app.speedcook.steptwo .buttons a p{
    margin-top: 75px;
}
.app .buttons a:hover,.app .buttons div:hover, .app .buttons a.hover_effect{
    // background-color: #30343A;
    // color: #FFF;
}
.apphdr {
    position: relative;
    padding-top:24px;
    height: 150px;
    background-color: #30343A;
    color:#FFF;
    text-align: center;
    text-transform: uppercase;
}
.apphdr p {
    margin: 0px auto;
    padding-top: 64px;
    font-size: 50px;
}
.apphdr .backBn, .apphdr .closeBn, .apphdr .editBn {
    display:block;
    position:absolute;
    top:67px;
    // text-align: left;
    // overflow: hidden;
    // text-indent: -10000px;
    width:50px;
    height:50px;
    background-size: 100% auto;
    z-index: 100;
}
.apphdr .backBn {
    left:27px;
}
.apphdr .closeBn {
    right:27px;
}
.apphdr .editBn {
    right: 51px;
    top: 85px;
    color:#6A767F;
}
.app.cookingmode .buttons, .app.apphome .buttons div{
    padding-top: 0px;
}
.app.cookingmode .buttons a {
    font-size: 60px;
    padding: 40px 0px 40px;
    line-height: .6em;
}
.app.cookingmode .buttons a span, .app.myrecipes .buttons a span{
    font-size: 25px;
    color:#B4BCC0;
}
.app.myrecipes .buttons a .icn_createnew, .prompt a .icn_createnew, .prompt a .icn_lib {
    width:160px;
    height:160px;
    // width:160px;
    // height:160px;
    text-align: left;
    display:inline-block;
    margin:0px 42px 0px 0px;
    background-color: #BAC2C6;
    background-size: 79px auto;
    vertical-align: middle;
}
.app.myrecipes .buttons a p, .prompt a p {
    display: inline-block;
}
.prompt a {
    background-color: #FFF;
    display:block;
    border-bottom: #B4BCC0 solid 1px;
}
.prompt a p, .remotedisabledprompt .prompt a {
    color: #575E66;
}
.remotedisabledprompt .prompt a {
    padding:69px 0px;
    text-align: center;
}
.prompt div {
    text-align: left;

}
.app.myrecipes .buttons .myrecipes {
    display:none;
}
.myrecipes a p {
    font-size: 50px;
    line-height: .6em;
    margin:0px;
}
.myrecipes.saved a p {
    font-size:45px;
    padding-top:2px;
}
.addrecipeprompt, .remotedisabledprompt {
    position: fixed;
    top: 0px;
    background: rgba(49, 53, 59, 0.9);
    height: 100%;
    width: 100%;
    display: none;
    opacity: 0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
    z-index: 1000;
    -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
}
.addrecipeprompt.on, .remotedisabledprompt.on {
    display: block;
    opacity: 1;
}
.addrecipeprompt h1 {
    background-color:#31353b;
    font-size: 37px;
    margin:0px;
    padding:40px 0px;
}
.addrecipeprompt .prompt, .remotedisabledprompt .prompt {
    position: relative;
    top: 35%;
    width:629px;
    margin:0px auto;
    transform: translateY(-50%);
}

.remotedisabledprompt .prompt{
    top: 30%;
    transform: translateY(-50%);
}

.remotedisabledprompt .prompt .header {
    width:629px;
    height:476px;
}

.app.speedcook.steptwo .buttons div, .app.speedcook.steptwo .buttons, .app.speedcook.steptwo .buttons a {
    padding:0px;
}
.app.speedcook.steptwo .buttons a img, .app .buttons a img {
    // text-align: left;
    // display:inline;
    // margin:0px 42px 0px 0px;
    // height:auto;
    // width: 160px;

    text-align: left;
    display: inline;
    margin: 0 42px 0 0;
    height: auto;
    width: 160px;
    float: left;
}
.app.speedcook.stepthree img.imghdr {
    width:100%;
    height: auto;
    text-align: center;
    margin:0px auto;
}
.app.speedcook.stepthree .sc_overview {
    height:390px;
    position:relative;
    background-size: 642px auto;
}
.sc_overview .cooktimer {
    position: absolute;
    color: #30343a;
    top: 166px;
    font-size: 142px;
    text-align: right;
    left: 26px;
}
.app.speedcook.stepthree .buttons div, .app.speedcook.stepthree .buttons a {
     // padding: 46px 0px 36px 110px;
     // font-size: 50px;
     padding: 46px 0 36px 66px;
     font-size: 40px;
     text-align: left;
    
}
.app.speedcook.stepthree .buttons div.ui-accordion-header{
     margin-top: -1px;
}
.app.speedcook.stepthree .buttons a span{
    font-size:36px;
}
.app.speedcook.stepthree .buttons p {
    margin:0px 0px 0px 200px;
}

.app.speedcook.stepthree .buttons div.item, .app.speedcook.stepthree .buttons div.scoptions, .app.speedcook.stepthree .buttons div.panel {
    padding:0px;
}
.scoptions .itmsz, .scoptions .itmqnt, .scoptions .itmsz.active, .scoptions .itmqnt.active {
    text-transform: uppercase;
    position: relative;
    background-color: #b4bcc0;
    border-bottom:#dadee0 solid 2px;
}
.app.speedcook.stepthree .buttons div.panel .item{
    background-color: #d9dddf;
    border-bottom: #FFF solid 2px;
}
div.panel .item.active a{
    color:#5d5d5d;
    opacity: .4;
}
.item a.current {
    color:#5C5C5C;
    opacity: .4;
}
.app.speedcook.stepthree .buttons p {
    color:#575e66;
}
.app.speedcook.stepthree .buttons p span{
    font-size: 30px;
}
.app.speedcook.stepthree .buttons div.save {
    background-color: #FFF;
    padding:64px;
} 
.app.speedcook.stepthree .buttons div.save a {
    text-align: center;
    padding:46px 0px 36px;
    color:#30343a;
    border-top:#B4BCC0 solid 2px;
    border-bottom:#B4BCC0 solid 2px;
}
.app.speedcook.stepthree .buttons div.save.confirmed{
    background-color: #30343A;
    margin: 63px auto;
    text-align: center;
    padding: 64px 0px 58px;
}
.app.speedcook.stepthree .buttons div.save.confirmed a {
    color: #FFF;
}
.app.speedcook.stepone .buttons div.myrecipes {
    display:none;
}
.scoptions .itmsz:before, .scoptions .itmqnt:before {
    position:absolute;
    left:38px;
    clear:none;
    float:left;
    color:#FFF;
}

.scoptions .itmsz:before{
    content:'ITEM SIZE';
}
.scoptions .itmqnt:before {
    content:'QUANTITY';
}

 .logo a div, .logo.status .cookstatus {
    margin: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    font-size: 48px;
    border-top: #fff solid 1px;
    display: block;
    color: #fff;
    font-family: 'FrutigerLTPro-Roman';
    padding: 48px 0 42px;
}
.logo a div span, .logo.status .cookstatus span{
    font-size: 28px;
    color:#69747F;
    float:right;
}
.logo.status a{
    background: none;
}
.logo.status .cookstatus {
    margin: 0px auto;
}
.logo.status .cookstatus span{
    color:#FFF;
}
.appliancehome .button-grid{
    max-height:710px;

}
.button-grid ul {
    list-style-type: none;
    margin:0px;
    padding:0px;
    // -webkit-flex-flow: row nowrap;
    // justify-content: space-around;      
    // display:flex;
}
.button-grid .group{
    overflow: auto;

}
.button-grid ul li {
    list-style: none;
    float:left;
    width:63px;
    padding:0px;
    margin:0px 12px 0px 0px;
    border-top:#FFFFFF solid 1px;
    border-bottom:#FFFFFF solid 1px;
    // flex:'flex-grow';
    // flex-grow:0;
}
.button-grid ul li:last-child{
    margin:0px;
}
#appliance-control .button-grid ul {
    // display:block;
}

.button-grid ul li.doublebn {
    height: 78px;
    position: relative;
}
.button-grid ul li.doublebn div{
    height: 38px;
}
// .button-grid ul li.doublebn
#appliance-control .button-grid ul li a, #appliance-control .button-grid ul li button{
    font-size:11px;
    letter-spacing: .04em;
    // padding:15px 0px;
    padding:0px;
    display:block;
    text-align: center;
    margin:0px auto;
    height: 100%;
}
#appliance-control .button-grid ul li button.halfbn{
    padding:0px;
    // position:absolute;
    width:100%;
    height: 100%;
    text-align: center;
    overflow: visible;
    z-index: 100;
    position: relative;
    top: 50%;
    margin:0px auto;
    transform: translateY(-50%);

}
li button.halfbn.uparrow {
    // top:0px;
}
li button.halfbn.dnarrow {
    // bottom:0px;
}
.button-grid ul li.doublebn  div:first-child {
    // border-top:none;
    // margin:0px;
    // position: absolute;
    // top:50%;
    // left:5%;
    // width: 90%;
    // margin: 0px auto;
    // text-align: center;
    border-bottom: #FFF solid 1px;
}
.button-grid ul.options li{
    border-top: none;
}
#appliance-control .disabledprompt, #appliance-control .remoteprompt{
    width: 216px;
    height: 195px;
    position: absolute;
}
#appliance-control .remoteenabled {
    position:absolute;
    width:117px;
    height:13px;
    top:10px;
    right:0px;
    display:none;
    opacity:0;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}
#appliance-control .remoteenabled.on {
    opacity:1;
    display: block;
}
.apptop .remoteenabled {
    position:absolute;
    width:100%;
    height:39px;
    top:412px;
    left:0px;
}
.controlpanel .lcd{
    position: relative;
    border-bottom: none;
    width:100%;
    height:195px;
    margin:0px auto 0px;
}
.controlpanel .buttons {
    width:100%;
    padding:0px;
    height:auto;
    display:block;
    background:none;
}
#appliance-control .lcd {
    border-top:@panelcolor solid 2px;
    -webkit-transition: all 100ms ease;
    -moz-transition: all 100ms ease;
    -o-transition: all 100ms ease;
    -ms-transition: all 100ms ease;
    transition: all 100ms ease;

}
.lcd-panel-home {
    position: relative;
}
#appliance-control .controlpanel .buttons {
    opacity:0;
    // -webkit-transition: all 900ms ease;
    // -moz-transition: all 900ms ease;
    // -o-transition: all 900ms ease;
    // -ms-transition: all 900ms ease;
    // transition: all 900ms ease;
}
#appliance-control button, #appliance-control a {
    font-size:150%;
}
.button-grid ul li {
    -webkit-transform-style: preserve-3d;
      -moz-transform-style: preserve-3d;
      transform-style: preserve-3d;
      position: relative;
}
.button-grid ul li button {
    position: relative;
    top: 50%;
    margin:0px auto;
    transform: translateY(-50%);
}

#appliance-control.active .controlpanel .buttons, #appliance-control.cooking .controlpanel .buttons {
    opacity:1;
}
#appliance-control .button-grid .group.one {
    margin-bottom:78px;
}
#appliance-control .button-grid .group.one ul li{
    height:78px;
}
#appliance-control .button-grid .group.two {
    margin-bottom:39px;
}
#appliance-control .button-grid .group.three {
    margin-top:78px;
}
#appliance-control .button-grid .group.two ul li ,#appliance-control .button-grid .group.three ul li {
    padding:0px;
    height: 39px;

}
#appliance-control .button-grid .group.two ul li button,#appliance-control .button-grid .group.three ul li button  {
    padding:0px;
}
#appliance-control .button-grid .group.two hr, #appliance-control .button-grid .group.three hr {
    margin: 1px auto 2px;
    padding: 0px;
    border-top: none;
    border-bottom: #FFF dashed 1px;
    shadow: none;
    outline: none;
}
#appliance-control.active .controlpanel:before, #appliance-control.cooking .controlpanel:before {
   content:' ';
   position:absolute;
   top:0px;
   left:0px;
   width:100%;
   height:2px;
   background-color: @panelcolor;
   // border-top:rgba(230,230,230,1) solid 2px;
}

.controlpanel .view-animate-container {
    opacity:1;
 -webkit-transition: all 200ms ease;
 -moz-transition: all 200ms ease;
 -o-transition: all 200ms ease;
 -ms-transition: all 200ms ease;
 transition: all 200ms ease;
}

.controlpanel .view-animate-container.off {
    opacity:0;
}
.controlpanel .clock {
    position:absolute;
    top:0px;
    width:100%;
    margin: 82px auto 0px;
    text-align: center;
    text-transform: uppercase;
    font-size: 38px;
    font-weight: normal;
}
.controlpanel .clock.cooktimer {
    margin:79px auto 0;
}
.clock.on {
    display:block;
}
.clock.off{
    display: none;
}
.clock span{
    font-size:11px;
    letter-spacing: .04em;
    margin-left: 2px;
}
.swiper-container{
    width:100%;
    height:106px;
    margin-top: 25px;

}

.swiper-slide {
  width: 100%;
  height: auto;
}
.swiper-slide p{

    padding:0px;
    opacity:.5;
    font-size: 35px;
    margin:10px auto;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    transition: all 200ms ease;
}
.swiper-slide.swiper-slide-active p{
    font-size: 55px;
    opacity: 1;
}
.controlpanel .clock.cooktimer {
    width:206px;
}

.ovenoptions.swiper-container {
    width: 70px;
    height: 80px;
    margin-top: 0px;
    position: absolute;
    left: 150px;
    top: 58px;
}
.ovenreview .ovenoptions.swiper-container {
    top:44px;
    height:66px;
 }
.ovenreview.timedcook .ovenoptions.swiper-container{
    top:47px;
}
.ovenreview .ovenoptions.swiper-container.status {
    top:68px;
}
.ovenpanel.stepone .ovenoptions .swiper-slide p, .ovenoptions .swiper-slide p {
    font-size: 14px;
    margin:0px;
    text-transform: uppercase;
}
.ovenreview .ovenoptions.swiper-container .swiper-slide p{
    font-size:13px;
    }
.ovenreview .ovenoptions.swiper-container .swiper-slide-active p{
    font-size:20px;
    }
    .ovenreview .ovenoptions.swiper-container.status .swiper-slide-active p{
        font-size: 11px;
 letter-spacing: .04em;
       line-height: 1.8em;
    }
// .ovenoptions .swiper-slide p{
//     line-height: 0.5em;
// }
// .ovenoptions .swiper-slide.swiper-slide-active p{
//     line-height: 1em;
// }
.ovenoptions .swiper-slide.swiper-slide-active p {
    // margin:5px 0px;
}
.ovenoptions .swiper-slide.swiper-slide-active p, .ovenpanel .ovenoptions .swiper-slide.swiper-slide-active p{
    font-size: 20px;
    // padding: 3px 0px 0px; 
}
.ovenpanel.stepone.ovenoptions .swiper-slide.swiper-slide-active p, .ovenpanel.stepone .ovenoptions .swiper-slide.swiper-slide-active p, .ovenpanel.steptwo.ovenoptions .swiper-slide.swiper-slide-active p, .ovenpanel.steptwo .ovenoptions .swiper-slide.swiper-slide-active p{
    font-size:18px;
}
// .ovenpanel.stepone.ovenoptions .swiper-slide p, .ovenpanel.stepone .ovenoptions .swiper-slide p{
//     font-size:11px
// }
.ovenoptions .swiper-slide.swiper-slide-active, .ovenpanel .ovenoptions .swiper-slide.swiper-slide-active{
   // height:110% !important;
   line-height: 2em;
   // padding-bottom:.6em;

}
.ovenreview .ovenoptions .swiper-slide.swiper-slide-active, .ovenpanel.ovenreview .ovenoptions .swiper-slide.swiper-slide-active{
   // height:110% !important;
   line-height: 1.7em;
   // padding-bottom:.6em;

}
.ovenoptions .swiper-slide {
    text-align:left;
}

.ovenreview, .ovenpanel{
    position:relative;
    height:220px;

}
.ovenreview .trayprompt {
    position: absolute;
    top: 2px;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: .04em;
    font-weight: normal;
    
}
.ovenreview .cooktitle{
    position: absolute;
    text-align: right;
    text-transform: uppercase;
    top: 50px;
    font-size: 11px;
    letter-spacing: .04em;
    right: 74px;
    line-height: 1.1em;
}
.ovenreview.ovencooking .cooktitle {
    text-align: center;
    width:100%;
    left: 0px;
}
.lcd .prompt {
    position: absolute;
    text-align: right;
    line-height: 1.1em;
    text-transform: uppercase;
    font-size: 12px;
    top: 75px;
    right: 150px;
    opacity:1;
    width:100px;
}
.lcd #mainprompt.off, .lcd.off{
    opacity:0;

}
.ovenpanel.timedcook .prompt{
    // left:0px;
}
.ovenpanel.timedcook.cooktime .prompt{
    // left: 30px;
}
.ovenpanel.timedcook .prompt.unit{
    left: 201px;
    text-align: left;
    line-height: 0.1em;
    top: 69px;
}
.ovenpanel.timedcook .prompt.unit p {
    opacity:0.5;
 -webkit-transition: all 200ms ease;
 -moz-transition: all 200ms ease;
 -o-transition: all 200ms ease;
 -ms-transition: all 200ms ease;
 transition: all 200ms ease;
   
}
.ovenpanel.timedcook .prompt.unit p.active {
    opacity:1;
}
.ovenpanel.timedcook.powerlevel .swiper-slide {
    text-align: right;
}
.ovenpanel .ovenoptions .swiper-slide p {
    font-size: 15px;
    // line-height: 1.2em;
}
.ovenpanel .ovenoptions .swiper-slide.swiper-slide-active p {
    // line-height: 1em;
}
.ovenoptions.minutes .swiper-slide p,.ovenoptions.seconds .swiper-slide p{
  text-align:right;
 padding-right:0px;
}
.ovenoptions.minutes .swiper-slide.swiper-slide-active p,.ovenoptions.seconds .swiper-slide.swiper-slide-active p{
    font-size: 38px;
    padding-right:0px;
}
.ovenpanel .ovenoptions.swiper-container.minutes, .ovenpanel .ovenoptions.swiper-container.seconds {
   top: 27px;
}
.ovenpanel .ovenoptions.swiper-container {
   width: 160px;
   height: 122px;
   margin-top: 0px;
   position: absolute;
   left: 74px;
   top: 19px;
   margin-bottom: 0px;
}

.ovenpanel.start.steptwo .ovenoptions.swiper-container {
    height:128px;
    top: 16px;
}
.ovenpanel.start .ovenoptions.swiper-container {
    top: 19px;
}
.ovenpanel .ovenoptions.swiper-container.minutes {
    left: -44px;
}
.ovenpanel .ovenoptions.swiper-container.seconds {
    left:30px
}
.ovenpanel.timedcook .prompt.divider{
    left: 130px;
    width:11px;
    letter-spacing: .04em;
}
.prompt.divider {
    font-size: 38px;
    top: 68px;
    left: 130px;
}
.ovenpanel .swiper-slide p span {
    font-size: 11px;
letter-spacing: .04em;
}
.ovenpanel .ovenoptions.swiper-container.minutes .swiper-slide, .ovenpanel .ovenoptions.swiper-container.seconds .swiper-slide {
    opacity:0;
}
.ovenpanel .ovenoptions.swiper-container.minutes .swiper-slide-active, .ovenpanel .ovenoptions.swiper-container.seconds .swiper-slide-active, .ovenpanel .ovenoptions.swiper-container.minutes .swiper-slide-active, .ovenpanel .ovenoptions.swiper-container.seconds .swiper-slide-active {
    opacity:.5;
}
.ovenpanel .ovenoptions.swiper-container.minutes.active .swiper-slide, .ovenpanel .ovenoptions.swiper-container.seconds.active .swiper-slide {
    opacity:1;
}

.swiper-container.off {
    display:none;
}
.ovenpanel.powerlevel .ovenoptions.swiper-container {
    left: -47px;
    top: 27px;
}
.ovenpanel.powerlevel .ovenoptions.swiper-container .swiper-slide{

}
.ovenpanel.ovenspeedcook.cookingmode .ovenoptions.swiper-container{
    left: 74px;
}
.ovenreview .enterprompt {
    display:none;
    font-size: 11px;
     letter-spacing: .04em;
   text-transform: uppercase;
    position: absolute;
    bottom: 35px;
    text-align: center;
    margin: 0px auto;
    width: 100%;
}
.enterhomeprompt {
    display:none;
    font-size: 11px;
    letter-spacing: .04em;
    text-transform: uppercase;
    position: absolute;
    top: 161px;
    text-align: center;
    margin: 0px auto;
    width: 100%;
}
.ovenreview .enterprompt:before,.ovenreview .enterprompt:after, .enterhomeprompt:before {
    position:absolute;
    content:' ';
    width:9px;
    height:9px;
    right:30px;
    top:4px;
}
.ovenreview .enterprompt:after{
    right:175px;
}
.enterprompt.on, #appliance-control.active .enterhomeprompt {
    display:block;
}
.ovenpanel.powerlevel .ovenoptions .swiper-slide.swiper-slide-active p{
    font-size: 38px;
    padding-right:0px;
}
.ovenpanel.powerlevel .ovenoptions .swiper-slide p{
    padding-right:5px;
}
@media only screen and (max-width: 600px) {
    .logo a {
        background-size: 100% auto;
    }
    #appliance-control button, #appliance-control a {
        font-size:100%;
    }

}


@import 'scup';

/*
    STYLES FOR NEXUS 5 AS APPLIANCE PANEL
*/
#appliance-control.nexus{
    background-color: #000000;
    .appliancehome{
        background: transparent;
    }
    .lcd{
        border: none;
        color:#FFF;
        .prompt {
            line-height: 1.1em;
            font-size: 26px;
            top: 83px;
            left: 258px;
            width: 234px;
            text-align: left;
            border-bottom: rgba(255, 255, 255, 0.7) 1px solid;
            padding-bottom: 5px;

            &.off{
                border-bottom: none;
            }
        }
        a.launch{
            position:absolute;
            z-index: 1000;
            top:0px;
            left:0px;
            width:100%;
            height: 100%;
        }

        .lcd-panel-home .remote, .ovenreview .remote{
            display:none;
        }
        .lcd-panel-home .remote.on, .ovenreview .remote.on{
            display:block;
        }
        .remote{
            line-height: 25px;
            font-size: 21px;
            position: absolute;
            top: 280px;
            left:20px;
            width:100px;
            &.on{
                width:110px;
                padding-right:10px;
                &:after{
                    content: ' ';
                    position: absolute;
                    top: 5px;
                    left: 100%;
                    display: inline-block;
                    width: 44px;
                    height: 44px;
                    background: transparent url(/img/remote_icon_nexus.png) top left no-repeat;
                    background-size: contain;
                }
            }
        }
    }
    .disabledprompt, .remoteprompt {
        width: 100%;
        height: 360px;
        text-align: center;
        margin: 0px auto;
    }

    .controlpanel{
        width:620px;
        height:360px;
        background-color: #000;
        &:before{
            content:none;
        }
    }

    .controlpanel .clock {
        font-size: 41px;
    }
    /*
        Cooking modes
    */
    .ovenpanel, .ovenreview{
        position: relative;
        height:360px;
        padding: 0px 20px;


        // .swiper-slide-duplicate{
        //     opacity:0;
        //     visibility: hidden;
        // }
        .optionsstatus{
            position: absolute;
            top: 20px;
            left: 20px;

            a{
                display: inline-block;
                &.settings{
                    width: 30px;
                    height: 37px;
                    background: transparent url(/img/setting.png) center center no-repeat;
                }
                &.close{
                    background: transparent url(/img/x.png) center center no-repeat;
                    width: 20px;
                    height: 20px;
                }
            }
        }
        .currentmode{
            font-size: 24px;
            text-transform: uppercase;
            position: absolute;
            left: 56px;
            top: 16px;
        }
        .ovenoptions{
            border-top: #FFF 1px solid;
            border-bottom: #FFF 1px solid;
            position: relative;
            top: 125px;
            a{
                display: inline-block;
                text-transform: uppercase;
                text-align: center;
                padding:20px;
                font-size: 24px;
                &:first-child{
                    margin-left: -20px;
                }
                &:nth-child(2){
                    margin: 0px 35px;
                }
                &:last-child{
                    margin-right: -20px;
                }
            }
            .swiper-wrapper{
                // margin-top: 0px;
                // height: 100%;
                // padding-bottom: 130px;
            }
            .swiper-slide p {
                font-size: 24px;
                line-height: 27px;
            }
            .swiper-slide.swiper-slide-active p {
                font-size: 30px;
                line-height: 30px;
            }
        }
        /*FOOD TYPE SELECT*/
        &.start {
                .ovenoptions{
                    border-top: none;
                    border-bottom: none;
                    width: 270px;
                    height:160px;
                    top: 155px;
                    left: 255px;
                    position: absolute;
                }
                .reviewstatus{
                    transition:all .2s ease;
                    &:before{
                        content:'REVIEW';
                        display: block;
                        margin-bottom: 37px;
                        text-align: left;
                    }
                    position: absolute;
                    top: 77px;
                    left: 50px;
                    font-size: 24px;
                    text-transform: uppercase;
                    .step{
                        position:relative;
                        text-align: left;
                        padding:0px;
                        margin: 0px;
                        line-height: 24px;
                    }
                }

        }
        .remotetimer{
            line-height: 25px;
            font-size: 21px;
            div, a{
                position: absolute;
                &.timer{
                    bottom:36px;
                    right:20px;
                }
            }
        }
        .stepsnav{
            position: absolute;;
            top:155px;
            left:0px;

            a{
                display: inline-block;
                width:16px;
                height:29px;
                position: absolute;
                &.prev{
                    left:208px;
                    background:transparent url(/img/BACK.png) center center no-repeat;
                }                
                &.next{
                    left:530px;
                    background:transparent url(/img/NEXT.png) center center no-repeat;
                }                
            }
        }
    }
    .ovenreview{
        .trayprompt{
            top: 14px;
            right: 20px;
        }
        .reviewstatus{
            transition:all .3s ease;
            &:before{
                content:'REVIEW';
                display: block;

                margin-bottom: 14px;
                text-align: center;
            }
            position: absolute;
            top: 112px;
            left: 230px;
            font-size: 22px;
            text-transform: uppercase;
            .step{
                text-align: center;
                padding:0px;
                margin: 0px;
                line-height: 24px;
            }
        }
        .editstart{
            position: absolute;
            top: 150px;
            left: 0px;
            width: 100%;
            opacity:.5;
            a{
                width:143px;
                display: inline-block;
                font-size: 24px;
                text-transform: uppercase;
                border-top:#FFF 1px solid;
                border-bottom:#FFF 1px solid;
                padding:16px 0px;
                position: absolute;
                top:0px;

                &.edit{
                    left:20px;
                }
                &.start{
                    right:20px;
                }
            }
        }
        .radial-progress{
            opacity: .5;
        }

    }
    .ovencooking{
        .reviewstatus{
            top: 130px;
            left: 225px;
            opacity: .5;

            &:before{
                    content:'SPEED COOKING';
                    margin-bottom: 41px;
            }
        }
        .clock {
            font-size: 41px;
            text-align: center;
            left: -10px;
            padding-left: 20px;
            width: 100%;
            margin: 166px auto 0;
        }
    }
    .roundtimer{
        position: absolute;
       top: 65px;
       left: 170px;
       overflow: visible;
       width: 278px;
       height: 278px;
       padding-top: 14px;
       // &.on{
       //      background: transparent url(/img/glow.png) center center no-repeat;
       // }

        .timer {
            position:relative;
            // font-size: 200px;
            width:242px;
            height:242px;
            float: left;

        }
        
        #rtimer {
            .timefill{
                    stroke-width: 4px;
                    stroke:#FFFFFF;
                    z-index: 100;
                    // -webkit-transform: rotate(-90deg);
                    //         transform: rotate(-90deg);
                // -webkit-box-shadow: 3px 3px 20px 0 #FFF;
                // box-shadow: 3px 3px 20px 0 #FFF;
            }
            .timerbg{
                stroke-width: 4px;
                stroke:#6E7071;
                // z-index:10;
            }
        }
        #tracer{
            // transform: scale(.965,.965);
            // -webkit-box-shadow: 3px 3px 20px 0 #FFF;
            // box-shadow: 3px 3px 20px 0 #FFF;
        }
        .tracer{
            position: absolute;
            top: 8px;
            left: 9px;
            opacity:0;
            -webkit-animation:spin 1s linear infinite;
            -moz-animation:spin 1s linear infinite;
            animation:spin 1s linear infinite;
            transition:opacity .3s ease;
            &.on{
                opacity: 1;
            }
        }
        @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
        @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
        @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


    }
    // .radial-progress {
    //     &:after{
    //         content:' ';
    //         position: absolute;
    //         top:0px;
    //         left:0px;
    //         width:100%;
    //         height:100%;
    //         border-radius: 50%;
    //     }
    //     &:before{
    //         border:#6E7071 4px solid;
    //     }
    //     position: absolute;
    //     top:70px;
    //     left:200px;
    //     @circle-size: 240px;
    //     @circle-background: #231F20;
    //     @circle-color: #6E7071;
    //     @inset-size: 230px;
    //     @inset-color: #231F20;
    //     @transition-length: 1s;
    //     @shadow: 6px 6px 10px rgba(0, 0, 0, 0.2);
    //     margin: 0px;
    //     width: @circle-size;
    //     height: @circle-size;
    //     background-color: @circle-background;
    //     border-radius: 50%;
    //     .circle {
    //         .mask, .fill, .shadow {
    //             width: @circle-size;
    //             height: @circle-size;
    //             position: absolute;
    //             border-radius: 50%;
    //         }
    //         .shadow {
    //             box-shadow: @shadow inset;
    //         }
    //         .mask, .fill {
    //             -webkit-backface-visibility: hidden;
    //             transition: -webkit-transform @transition-length;
    //             transition: -ms-transform @transition-length;
    //             transition: transform @transition-length;
    //         }
    //         .mask {
    //             clip: rect(0px, @circle-size, @circle-size, @circle-size/2);
    //             .fill {
    //                 clip: rect(0px, @circle-size/2, @circle-size, 0px);
    //                 background-color:#FFF;
    //                 // background-color: @circle-color;
    //             }
    //         }
    //     }
    //     .inset {
    //         width: @inset-size;
    //         height: @inset-size;
    //         position: absolute;
    //         margin-left: (@circle-size - @inset-size)/2;
    //         margin-top: (@circle-size - @inset-size)/2;
    //         background-color: @inset-color;
    //         border-radius: 50%;
    //         box-shadow: @shadow;
    //     }
    // }

}




/*

ACCORDIAN

*/
.tab:after {
        content: ' ';
            position: absolute;
            top: 40px;
            right: 20px;
            width:28px;
            height:18px;
            display: block;
            font-size: 1.5em;
            padding: 0.5em;

}
.tab.active:after {
   content: ' '; 
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr{
    border:none;
    border-radius: 0px;
}
.ui-widget-content, .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border-top: none;
    background:none;
    font-weight: normal;
    outline:none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background-color: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
        border-color:#000 !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
