html .scup {
    line-height: 2.6166em;
}


.controlpanel.scup {
    width:400px;
}

#appliance-control.solo-panel .controlpanel {
    top:0px;
    left:0px;
    height:auto;
} 


#appliance-control .disabledprompt, #appliance-control .remoteprompt {
    background-size: 308px auto;
}
.disabledprompt.on, .remoteprompt.on {
}

#appliance-control .disabledprompt, #appliance-control .remoteprompt{
    width: 400px;
    height: 365px;

}
#appliance-control .remoteenabled {

    width:219px;
    height:24px;
    top:10px;
    right:0px;

}

.controlpanel.scup .lcd{
    width:100%;
    height:365px;
}
#appliance-control .lcd {
    border-top:rgba(252, 255, 56, 0) solid 2px;
}
.lcd-panel-home {

}

#appliance-control.active .controlpanel:before, #appliance-control.cooking .controlpanel:before {
   // top:0px;
   // left:0px;
   width:100%;
   height:4px;
}

.controlpanel .clock {
    position:absolute;
    top:0px;
    width:100%;
    margin: 154px auto 0px;
    font-size: 71px;
}
.controlpanel .clock.cooktimer {
    margin:150px auto 0;
}
.clock span{
    font-size:21px;
    letter-spacing: .04em;
    margin-left: 2px;
}
.swiper-container{
    height:106px;
    margin-top: 25px;
}

.swiper-slide p{
    opacity:.5;
    font-size: 35px;
    margin:10px auto;
}
.swiper-slide.swiper-slide-active p{
    font-size: 55px;
}
.controlpanel .clock.cooktimer {
    width:100%;
}

.ovenoptions.swiper-container {
    width: 131px;
    height: 80px;
    left: 280px;
    top: 58px;
}
.ovenreview .ovenoptions.swiper-container {
    top:44px;
    height:150px;
 }
.ovenreview.timedcook .ovenoptions.swiper-container{
    top:47px;
}
.ovenreview .ovenoptions.swiper-container.status {
    top:130px;
}
.ovenpanel.stepone .ovenoptions .swiper-slide p, .ovenoptions .swiper-slide p {
    font-size: 26px;
}
.ovenreview .ovenoptions.swiper-container .swiper-slide p{
    font-size:13px;
    }
.ovenreview .ovenoptions.swiper-container .swiper-slide-active p{
    font-size:37px;
    }
.ovenreview .ovenoptions.swiper-container.status .swiper-slide-active p{
    font-size: 21px;
    letter-spacing: .04em;
    line-height: 1.75em;
}

.ovenoptions .swiper-slide.swiper-slide-active p, .ovenpanel .ovenoptions .swiper-slide.swiper-slide-active p{
    font-size: 37px;
}
.ovenpanel.stepone.ovenoptions .swiper-slide.swiper-slide-active p, .ovenpanel.stepone .ovenoptions .swiper-slide.swiper-slide-active p, .ovenpanel.steptwo.ovenoptions .swiper-slide.swiper-slide-active p, .ovenpanel.steptwo .ovenoptions .swiper-slide.swiper-slide-active p{
    font-size:34px;
}
.ovenoptions .swiper-slide.swiper-slide-active, .ovenpanel .ovenoptions .swiper-slide.swiper-slide-active{
   line-height: 3.364em;
}
.ovenreview .ovenoptions .swiper-slide.swiper-slide-active, .ovenpanel.ovenreview .ovenoptions .swiper-slide.swiper-slide-active{
   line-height: 3.1773em;

}
.ovenoptions .swiper-slide {

}

.ovenreview, .ovenpanel{
    height:220px;
}
.ovenreview .trayprompt {
    top: 2px;
    font-size: 21px;
    letter-spacing: .04em;
}
.ovenreview .cooktitle{
    top: 94px;
    font-size: 21px;
    letter-spacing: .04em;
    right: 136px;
    line-height: 1.1em;
}
.ovenreview.ovencooking .cooktitle {
    width:100%;
    left: 0px;
}
.lcd .prompt {
    line-height: 1.1em;
    font-size: 22px;
    top: 140px;
    right: 280px;
    width:187px;
}
.lcd #mainprompt.off, .lcd.off{

}
.ovenpanel.timedcook .prompt{

}
.ovenpanel.timedcook.cooktime .prompt{

}
.ovenpanel.timedcook .prompt.unit{
   left: 376px;
   line-height: 0.1em;
   top: 128px;
}
.ovenpanel.timedcook .prompt.unit p {

   
}
.ovenpanel.timedcook .prompt.unit p.active {

}
.ovenpanel.timedcook.powerlevel .swiper-slide {

}
.ovenpanel .ovenoptions .swiper-slide p {
    font-size: 28px;
}
.ovenpanel .ovenoptions .swiper-slide.swiper-slide-active p {

}
.ovenoptions.minutes .swiper-slide p,.ovenoptions.seconds .swiper-slide p{
    // font-size: 52px;
    // line-height: 1.5em;
}
.ovenoptions.minutes .swiper-slide.swiper-slide-active p,.ovenoptions.seconds .swiper-slide.swiper-slide-active p{
    font-size: 71px;

}
.ovenpanel .ovenoptions.swiper-container.minutes, .ovenpanel .ovenoptions.swiper-container.seconds {
   top: 53px;
}
.ovenpanel .ovenoptions.swiper-container {
   width: 299px;
   height: 228px;
   margin-top: 0px;

   left: 138px;
   top: 38px;
   margin-bottom: 0px;
}

.ovenpanel.start.steptwo .ovenoptions.swiper-container {
    height:239px;
    top: 30px;
}
.ovenpanel.start .ovenoptions.swiper-container {
    top: 39px;
}
.ovenpanel .ovenoptions.swiper-container.minutes {
    left: -79px;
}
.ovenpanel .ovenoptions.swiper-container.seconds {
    left:59px
}
.ovenpanel.timedcook .prompt.divider{
    left: 243px;
    width:21px;
    top: 131px;
    letter-spacing: .04em;
}
.prompt.divider {
    font-size: 71px;
    left: 130px;
}
.ovenpanel .swiper-slide p span {
    font-size: 21px;
    letter-spacing: .04em;
}

.ovenpanel.powerlevel .ovenoptions.swiper-container {
    left: -86px;
    top: 53px;
}

.ovenpanel.ovenspeedcook.cookingmode .ovenoptions.swiper-container{
    left: 138px;
}
.ovenreview .enterprompt {
    font-size: 21px;
     letter-spacing: .04em;
    bottom: -128px;
}
.enterhomeprompt {
    font-size: 21px;
    letter-spacing: .04em;
    top: 307px;
}
.enterhomeprompt:before {
    background-size: 17px auto;
}
.ovenreview .enterprompt:before,.ovenreview .enterprompt:after, .enterhomeprompt:before {
    width:17px;
    height:17px;
    right:56px;
    top:10px;
}
.ovenreview .enterprompt:before, .ovenreview .enterprompt:after, .enterhomeprompt:before{
    background-size:17px auto;
}
.ovenreview .enterprompt:after{
    right:175px;
}
.ovenreview .enterprompt:after {
    right: 328px;
}
.ovenpanel.powerlevel .ovenoptions .swiper-slide.swiper-slide-active p{
    font-size: 71px;
}
.ovenpanel.powerlevel .ovenoptions .swiper-slide p{
    padding-right:5px;
}
