/*

    PAGE TRANSITIONS

*/
.animate-enter, 
.animate-leave
{ 
    -webkit-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
} 
 
@-webkit-keyframes enter_sequence {
  from { top: 100%; }
  to { top: 0; }
}
@keyframes enter_sequence {
  from { top: 100%; }
  to { top: 0; }
}


.view-animate-container {
  position:relative;
  // height:100px!important;
}

.view-animate {

}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition:all ease 500ms;
  transition:all ease 500ms;
  position:absolute;
  display:block;
  width:100%;
  height:100%;

  // position:fixed;
  // top:0;
  // left:0;
  // right:0;
  // bottom:0;
  // padding:0px;
}
.view-animate.apptop.ng-enter, .view-animate.apptop.ng-leave {
  // position:relative;
  height:600px;
}
.view-animate.apptop.ng-enter .logo, .view-animate.apptop.ng-leave .logo, .view-animate.apptop.ng-enter .logo a, .view-animate.apptop.ng-leave .logo a {
  height:600px;
}

.view-animate.apptop.ng-enter .apphome, .view-animate.apptop.ng-leave .apphome {
  // position:relative;
}
.view-animate.ng-leave {
  left:0%;
  // top:-100%;
}
.view-animate.ng-enter {
  left:100%;
  // top:-100%;
}
.view-animate.ng-enter.ng-enter-active {
  left:0%;
  // top:0%;
}
.view-animate.ng-leave.ng-leave-active {
  left:-100%;
  // top:100%;
}
.first-load .view-animate.ng-enter {
    left:0px;
    // top:0px;
}
// .view-animate-container.back .view-animate.ng-enter {
//     left:-100%;
// }
// .view-animate-container.back .view-animate.ng-leave.ng-leave-active {
//     left:100%;
// }
.view-animate.ng-enter .ovenpanel .ovenoptions {
  opacity:0;
}
.view-animate.ng-enter.ng-enter-active .ovenpanel .ovenoptions {
  opacity:1;
}
.view-animate.ng-leave .ovenpanel .ovenoptions {
  opacity:1;
}
.view-animate.ng-leave.ng-enter-active .ovenpanel .ovenoptions {
  opacity:0;
}
