<div id="app-control">
    <div class="view-animate-container first-load">
        <div ng-include src='app_mainstatus' class="view-animate"></div>
    </div>
<div class="disabledprompt"></div>
</div>