<div class="app speedcook myrecipes stepone">
    <appheader></appheader>
    <div class="buttons">
    	    <div ng-repeat="cooktype in comm.presets.speedcook" class="{{cooktype.slug}}"><a href="{{baseURL}}#/app/myrecipes/speedcook/{{cooktype.slug}}">{{cooktype.name}}</a></div>
   	</div>
</div>
