<div class="app speedcook stepone">
    <appheader></appheader>
    <div class="buttons">
    	    <div><a href="{{baseURL}}#/app/speedcook/custom">Create Custom</a></div>
    	    <div ng-repeat="cooktype in comm.presets.speedcook" class="{{cooktype.slug}}"><a href="{{baseURL}}#/app/speedcook/{{cooktype.slug}}">{{cooktype.name}}</a></div>
   	</div>
</div>
