<div class="app speedcook stepthree">
    <appheader></appheader>
    <!-- <img class="imghdr" ng-src="{{baseURL}}img/appthumbs/imghdr_{{z}}.jpg" /> -->
    <img class="imghdr" src="/img/appthumbs/imghdr_boneless.jpg" />

    <div class="sc_overview">
    	<div class="cooktimer clock">{{comm.totalCookTime}}</div>
    </div>
    <div class="buttons">
    	    
	   	<div class="scoptions">
	   	    <div class="tab itmsz"><p>{{current_size}} <span>({{current_sizedetail}})</span></p></div>
		   	<div class="panel accordian sizes">
		   	    <div ng-repeat="size in sizes" class="item"><a ng-click="setCurrentSize(size.label,size.detail,size.value,$event)">{{size.label}} <span>({{size.detail}})</span></a></div>
		   	</div>
		    <div class="tab itmqnt"><p>{{current_quantity}}</p></div>
		    <div class="panel accordian quantities">
		   	    <div ng-repeat="quantity in quantities" class="item"><a ng-click="setCurrentQuant(quantity.label,quantity.value,$event)">{{quantity.label}}</a></div>
		    </div>
		</div>
		<div class="save"><a href="{{baseURL}}#/app/cooking/">START REMOTE COOKING</a></div>
   	</div>
</div>
