<div class="logo status">
	<div class="holder">
	<div class="advantium"></div>
	<div class="cooktitle">{{comm.speedcook_title}}</div>
	<div class="cooktimer">{{(comm.remote_enabled)?formTime:comm.timer_remaining}}</div>
	<appremoteindicator></appremoteindicator>
</div>
</div>
