<div class="app speedcook steptwo">
    <appheader></appheader>
    <div class="buttons">
    	    <div ng-repeat="foodOption in foodOptions"><a href="{{baseURL}}#/app/speedcook/{{fdID}}/{{$index}}"><img ng-src="{{baseURL}}img/appthumbs/thumb_{{foodOption.slug}}.jpg" /><p>{{foodOption.name}}</p></a></div>
   	</div>
</div>
