<div class="apphome app">
    <div class="view-animate-container first-load">
        <div ng-include src='app_homestatus' class="view-animate apptop"></div>
    </div>
    <div class="buttons">
    	<div><a class="{{templateStyle}}" href="{{baseURL}}#/app/{{templateURL}}/">{{templateStr}}</a></div>
	    <div><a href disablebn>recipe ideas</a></div>
	    <div><a href="{{baseURL}}#/app/myrecipes/">favorites</a></div>
	    <div><a href disablebn>recipe converter</a></div>
	    <div><a href disablebn>timers</a></div>
	    <div><a href disablebn>help</a></div>
	    <div><a href disablebn>settings</a></div>
    </div>
</div>






