<div id="appliance-control" class="solo-panel">
    <div class="appliancehome">
    </div>
    <div class="applianceillum {{comm.light}}"></div>
    <div class="controlpanel scup" ng-style="{'top':comm.panelY+'px','left':comm.panelX+'px','transform': 'rotate('+comm.panelRot+'deg)'}">
        <div class="lcd" ng-style="{'color':+comm.lcdcolor}">
                <div id="mainprompt" class="prompt"></div>
            <div class="view-animate-container first-load">
                <div ng-include src='currentlcd' class="view-animate"></div>
            </div>
        </div>
        <div class="disabledprompt"></div>
        <div class="remoteprompt enabled off"></div> 
    </div>
</div>