<div id="appliance-control" class="{{comm.status}}">
    <div class="appliancehome">
    </div>
    <div class="applianceillum {{comm.light}}">
    </div>
    <div class="controlpanel">
        <div class="lcd">
           <div class="swiper-container">
             <div class="swiper-wrapper">
                 <!--First Slide-->
                 <div class="swiper-slide" ng-repeat="temp in ovenTemps">{{temp}}</div>
             </div>
           </div>

        </div>
        <controlbuttons></controlbuttons>
    </div>
</div>