<div id="appliance-control" class="">
    <div class="appliancehome">
    </div>
    <div class="applianceillum {{comm.light}}"></div>
    <div class="controlpanel">
        <div class="lcd">
                <div id="mainprompt" class="prompt"></div>
            <div class="view-animate-container first-load">
                <div ng-include src='currentlcd' class="view-animate"></div>
            </div>
        </div>
        <div class="disabledprompt"></div>
        <div class="remoteprompt enabled off"></div>
        <div class="buttons">
            <div class="button-grid">
                <div class="group one">
                    <ul>
                        <li><button ng-click="showApplianceDisabled()">BACK</button></li>
                        <li class="doublebn"><div><button class="halfbn uparrow" ng-click="scrollDown()"></button></div><div><button class="halfbn dnarrow" ng-click="scrollUp()"></button></div></li>
                        <li><button ng-click="applianceEnterPressed()">ENTER</button></li>
                    </ul>
                </div>
            <div class="group two">
                <ul>
                    <li><button ng-click="showApplianceDisabled()">HELP</button></li>
                    <li><button ng-click="applianceStartPressed()">START<hr />PAUSE</button></li>
                    <li><button ng-click="clearOffClicked()">CLEAR<hr />OFF</button></li>
                </ul>
            </div>
            <div class="group two">
                <ul>
                    <li><button ng-click="startApplianceSpeedCook()">SPEED<br />COOK</button></li>
                    <li><button ng-click="showApplianceDisabled()">CONV<br />BAKE</button></li>
                    <li><button ng-click="startMicrowave()">MICRO<br />WAVE</button></li>
                </ul>
                <ul class="options">
                    <li><button ng-click="showApplianceDisabled()">SETTINGS</button></li>
                    <li><button ng-click="showApplianceDisabled()">COOKING<br />OPTIONS</button></li>
                    <li><button ng-click="showApplianceDisabled()">MICRO<br />30 SEC</button></li>
                </ul>
            </div>
            <div class="group three">
                <ul class="mech">
                    <li><button ng-click="showApplianceDisabled()">TIMER<br />ON/OFF</button></li>
                    <li><button ng-click="lightToggle()">SURFACE<br />LIGHT</button></li>
                    <li><button ng-click="remoteEnabledToggle()">VENT</button></li>
                </ul>
            </div>
            </div>
        </div>
    </div>
</div>