<div id="appliance-control" class="solo-panel nexus">
    <div class="appliancehome">
    </div>
    <div class="applianceillum {{comm.light}}"></div>
    <div class="controlpanel scup">
        <div class="lcd">
                <a class="launch" ng-click="launchFull()">&nbsp;</a>
                <div id="mainprompt" class="prompt off"></div>
            <div class="view-animate-container first-load">
                <div ng-include src='currentlcd' class=""></div>
            </div>
        </div>
        <div class="disabledprompt"></div>
        <div class="remoteprompt enabled off"></div>
 
    </div>
</div>