        <div class="buttons">
            <div class="button-grid">
                <ul>
                    <li><button data-status="speedcook">SPEED<br />COOK</button></li>
                    <li><button ng-click="startOven()">CONV<br />BAKE</button></li>
                    <li><button data-status="microwave">MICRO<br />WAVE</button></li>
                </ul>
                <ul class="options">
                    <li><button data-status="settings">SETTINGS</button></li>
                    <li><button data-status="cookoptions">COOKING<br />OPTIONS</button></li>
                    <li><button data-status="help">HELP</button></li>
                </ul>
                <ul class="mech">
                    <li><button data-status="timer">TIMER<br />ON/OFF</button></li>
                    <li><button ng-click="lightToggle()">SURFACE<br />LIGHT</button></li>
                    <li><button data-status="vent">VENT</button></li>
                </ul>
            </div>
        </div>
