<div class="app cookingmode">
    <appheader></appheader>
    <div class="buttons">
	    <div><a href="{{baseURL}}#/app/speedcook/">speedcook<br /><span>halogen, convection, and microwave</span></a></div>
	    <div><a href disablebn>oven<br /><span>traditional or convection oven functions</span></a></div>
	    <div><a href disablebn>microwave<br /><span>microwave only cooking</span></a></div>
    </div>
</div>






