<div id="main-nav-wrapper">
    <nav id="main-nav">
<!--         <a href="{{baseURL}}#/appliance/">LAUNCH APPLIANCE</a><br /><br />
 -->        
 <a href="{{baseURL}}#/panel2/">LAUNCH NEXUS PANEL</a><br /><br />
      <!-- <a href="{{baseURL}}#/panel/">LAUNCH APPLIANCE PANEL</a><br /><br /> -->
        <a href="{{baseURL}}#/app/">LAUNCH MOBILE CONTROL</a><br /><br />
        <!-- <a href="{{baseURL}}#/appnorc/">LAUNCH MOBILE CONTROL (ALT)</a><br /><br /><br /> -->
        <a ng-click="resetDB()">RESET PROTOTYPE</a>
    </nav>
    <h1>current status: {{comm.status}}</h1>
</div>
