<div class="app myrecipes saved">
    <appheader></appheader>
    <div class="buttons">
	    <div ng-repeat="foodOption in foodOptions"><a href disablebn><img ng-src="{{baseURL}}img/appthumbs/thumb_myrecipes_{{foodOption.slug}}.jpg" /><p>{{foodOption.name}}<br /><span>{{foodOption.description}}</span></p></a></div>
	    <!-- <div ng-repeat="foodOption in foodOptions"><a href="{{baseURL}}#/app/speedcook/myrecipes/{{$index}}"><img ng-src="{{baseURL}}img/appthumbs/thumb_myrecipes_{{foodOption.slug}}.jpg" /><p>{{foodOption.name}}<br /><span>{{foodOption.size}}</span></p></a></div> -->
	    <div><a class="addcta" ng-click="addRecipePrompt()"><div class="icn_createnew"></div><p>Add New Item</p></a></div>
	    <!-- <div><a class="addcta" href="{{baseURL}}#/app/speedcook/myrecipes/add">Add New Item</a></div> -->
    </div>
<div class="addrecipeprompt">
	<div class="prompt">
		<h1>ADD NEW ITEM</h1>
		<div><a href="{{baseURL}}#/app/myrecipes/speedcook/foodtype/"><div class="icn_lib"></div><p>FROM LIBRARY</p></a></div>
		<div><a class="addcta" href disablebn><div class="icn_createnew"></div><p>CREATE NEW</p></a></div>
	</div>
</div>
</div>