<div class="app myrecipes saved">
	<div class="apphdr"><a class="backBn" href="{{baseURL}}#/app/"></a><p ng-bind="Page.title()">COOKING MODE</p><a class="editBn" href disablebn>EDIT</a></div>
    <div class="buttons">
	    <div ng-repeat="foodOption in foodOptions"><a href disablebn><img ng-src="{{baseURL}}img/appthumbs/thumb_myrecipes_{{foodOption.slug}}.jpg" /><p>{{foodOption.name}}<br /><span>{{foodOption.description}}</span></p></a></div>
	    <!-- <div ng-repeat="foodOption in foodOptions"><a href="{{baseURL}}#/app/speedcook/myrecipes/{{$index}}"><img ng-src="{{baseURL}}img/appthumbs/thumb_myrecipes_{{foodOption.slug}}.jpg" /><p>{{foodOption.name}}<br /><span>{{foodOption.size}}</span></p></a></div> -->
	    <div><a class="addcta" href="{{baseURL}}#/app/myrecipes/cookingmode/"><div class="icn_createnew"></div><p>Add Favorite</p></a></div>
	    <!-- <div><a class="addcta" href="{{baseURL}}#/app/speedcook/myrecipes/add">Add New Item</a></div> -->
    </div>
</div>