<div class="ovenreview">
	<div class="trayprompt">Use metal tray</div>
	<div class="cooktitle">{{comm.speedcook_title}}</div>
	<div class="cooktimer clock">{{(comm.remote_enabled)?comm.timer_remaining:formTime}}</div>
	<div class="enterprompt on">Press START to cook</div>
	<div class="ovenoptions swiper-container status">
		<div class="swiper-wrapper">
			<div class="swiper-slide swiper-slide-active"><p>1-2 PIECES</p><p>SMALL</p></div>
		</div>
	</div>
</div>