<div class="ovenreview">
	<div class="optionsstatus"><a class="close" ng-click="clearDisplay()"></a></div>
	<div class="currentmode">Speed Cook</div>
	<div class="trayprompt">Use metal tray</div>
	<roundtimer></roundtimer>
	<!-- <div class="cooktitle">{{comm.speedcook_title}}</div> -->
	<!-- <div class="cooktimer clock">{{comm.timer_remaining}}</div> -->
	<div class="editstart">
		<a class="edit" ng-click="applianceSpeedEditPressed()">Edit</a><a class="start" ng-click="applianceStartPressed()">Start</a>
	</div>

	<div class="reviewstatus">
		<div class="foodquantity step">1-2 pieces</div>
		<div class="foodsize step">Small (4-6 oz)</div>
		<div class="foodsub step">Boneless</div>
		<div class="foodtype step">Chicken</div>
	</div>
	<remoteindicatornexus></remoteindicatornexus>
</div>