<div class="ovenpanel start">
	<div class="optionsstatus"><a class="close" ng-click="clearDisplay()"></a></div>
	<div class="currentmode">Speed Cook</div>
	<stepsnavigation></stepsnavigation>
	<foodtypeslidernexus></foodtypeslidernexus>
</div>