<div class="ovenreview ovencooking">
	<div class="optionsstatus"><a class="close" ng-click="clearDisplay()"></a></div>
	<div class="currentmode">Speed Cook</div>
	<div class="trayprompt">Use metal tray</div>
	<roundtimer></roundtimer>
	<!-- <div class="cooktitle">{{comm.speedcook_title}}</div> -->
	<div class="cooktimer clock">{{(comm.remote_enabled)?comm.timer_remaining:formTime}}</div>
	<div class="editstart">
		<a class="edit" ng-click="showApplianceDisabled()">ADD 30 SEC</a><a class="start" ng-click="clearDisplay()">CANCEL</a>
	</div>

	<div class="reviewstatus">
		<div class="foodquantity step"></div>
		<div class="foodsize step"></div>
		<div class="foodsub step">Boneless</div>
		<div class="foodtype step">Chicken</div>
	</div>
	<remoteindicatornexus></remoteindicatornexus>
</div>