<div class="ovenreview timedcook">
	<div class="trayprompt">Use glass tray</div>
	<div class="cooktitle">Micro Timed Cook</div>
	<div class="cooktimer clock">{{formTime}}</div>
	<div class="enterprompt on">Press START to cook</div>
	<div class="ovenoptions swiper-container status">
		<div class="swiper-wrapper">
			<div class="swiper-slide swiper-slide-active status"><p>PWR {{currentPowerSet}}</p></div>
		</div>
	</div>
</div>