<div class="ovenpanel start stepthree">
	<div class="optionsstatus"><a class="close" ng-click="clearDisplay()"></a></div>
	<div class="currentmode">Speed Cook</div>
	<div class="reviewstatus">
		<!-- <div class="foodsize step">Small</div> -->
		<div class="foodsub step">Boneless</div>
		<div class="foodtype step">Chicken</div>
	</div>
	<stepsnavigation></stepsnavigation>
	<foodquantslidernexus></foodquantslidernexus>
</div>