<div class="ovenpanel ovenspeedcook cookingmode">
	<div class="optionsstatus"><a class="settings" ng-click="refreshPage()"></a></div>
	<cookingmodenexus></cookingmodenexus>
	<div class="row remotetimer">
		<div class="timer">TIMER</div>
	</div>
	<remoteindicatornexus></remoteindicatornexus>
</div>