<div class="ovenpanel start stepone">
		<div class="optionsstatus"><a class="close" ng-click="clearDisplay()"></a></div>
		<div class="currentmode">Speed Cook</div>
		<div class="reviewstatus">
			<!-- <div class="foodtype step">Chicken</div> -->
		</div>
		<stepsnavigation></stepsnavigation>
		<foodselectslidernexus></foodselectslidernexus>
</div>