<div id="main-nav-wrapper">
    <nav id="main-nav">
        <a href="{{baseURL}}#/appliance/">LAUNCH APPLIANCE</a><br />
        <a href="{{baseURL}}#/app/">LAUNCH MOBILE CONTROL</a>
    </nav>
    <h1>current status: {{comm.status}}</h1>
</div>
<div class="slide-animate-container">
    <div class="slide-animate" ng-include="template.url"></div>
</div>