<div class="timerselector">
	<div class="ovenoptions minutes active swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" ng-repeat="option in minutesArray" data-minutes="{{option.value}}" data-val="timedminutes"><p>{{option.name}}</p></div>
		</div>
	</div>
	<div class="prompt divider">:</div>
	<div class="ovenoptions seconds swiper-container">
		<div class="swiper-wrapper">
			<div class="swiper-slide" ng-repeat="option in secondsArray" data-seconds="{{option.value}}" data-val="timedseconds"><p>{{option.name}}</p></div>
		</div>
	</div>
	<div class="prompt unit"><p class="minutes active">M</p><p class="second">S</p>
</div>